@model IEnumerable<NexifyTest.Models.UserInfos>

@{
    ViewData["Title"] = "Nexify Test";
}

<div class="text-center">
    <span>
        <input type="button" value="Add" style="background-color: #008CBA;border-radius: 8px;color: white;float:left;" onclick="location.href='@Url.Action("Add", "Home")'" />
        <input type="button" value="Save" style="background-color: #4CAF50;border-radius: 8px;color: white;float:initial" onclick="location.href='@Url.Action("Add", "Home")'" />
        <input type="button" value="Update" style="background-color: #f44336;border-radius: 8px;color: white;float:right;" onclick="location.href='@Url.Action("Add", "Home")'" />
    </span>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>
                Name
            </th>
            <th>
                Birthday
            </th>
            <th>
                Salary
            </th>
            <th>
                Address
            </th>
        </tr>

        @foreach (var item in (List<UserInfos>)ViewData["Data"])
        {
            <tr>
                <td>
                    @if (ViewData["Status"]!.ToString() == Stutus.view.ToString())
                    {
                        @Html.DisplayFor(x => item.Name)    
                    }
                    else
                    {
                        @*<input type="text" value = @item.Name >*@
                        @Html.EditorFor(x => item.Name)
                    }                    
                </td>
                <td>
                    @if (ViewData["Status"]!.ToString() == Stutus.view.ToString())
                    {
                        @Html.DisplayFor(x => item.DateOfBirth)                        
                    }
                    else
                    {                        
                        <input type="date" value = @item.DateOfBirth >                        
                    } 
                </td>
                <td>
                    @Html.DisplayFor(x => item.Salary)
                </td>
                <td>                    
                    @if (ViewData["Status"]!.ToString() == Stutus.view.ToString())
                    {
                        @Html.DisplayFor(x => item.Address)   
                    }
                    else
                    {
                        @Html.EditorFor(x => item.Address)
                    }    
                </td>
            </tr>
        }

    </table>
</div>
